html,body {
    overflow-x : hidden;
    font-size  : 13px;
    width      : 320px;
    /*max-width  : 90%;*/
}

#panels>.hidden{
	display: none;
}

.panel-section-list img.icon{
	max-width  : 16px;
	max-height : 16px;
	width      : auto;
	height     : auto;
}

.panel-section-list div.text{
	white-space   : nowrap;
	text-overflow : ellipsis;
	overflow      : hidden;
	width         : 100%;
	overflow      : hidden;
}

.panel-section-list img.icon + div.text {
	margin-left: 10px;
}