html,body {
    overflow-x : hidden;
    font-size : 13px;
    width : 420px;
}

.panel-list-item{
	position: relative;
	cursor: pointer;
}

.panel-section-list img.icon{
	max-width  : 16px;
	max-height : 16px;
	width      : auto;
	height     : auto;
}

.panel-section-list div.text{
	white-space   : nowrap;
	text-overflow : ellipsis;
	overflow      : hidden;
	width         : 100%;
	overflow      : hidden;
}

.panel-section-header img.text-section-icon + div.text-section-header,
.panel-section-list img.icon + div.text {
	margin-left: 10px;
}